.attribution { 
    font-size: 11px;
    text-align: center;
    position:absolute;
    bottom: 0;
    left:25%;
    right:25%; 
}
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    font-size: 62.5%;
    --primarydark: hsl(158, 36%, 37%);
    --secondarydark: hsl(158, 40%, 18%);
    --primarycream: hsl(30, 38%, 92%);
    --neutralblue:hsl(212, 21%, 14%);
    --neutralgray: hsl(228, 12%, 48%);
    --neutralwhite: hsl(0, 0%, 100%);
    background-color: var(--primarycream);
    --headerfont: 'Fraunces', serif;
    --regularfont: 'Montserrat', sans-serif;
    box-sizing: content-box;
}

p{
    font-size: 1.4rem;
    font-family: var(--regularfont);
    color:var(--neutralgray);
    margin-bottom: 2.5rem;
    line-height: 1.8;
    
}
h2{
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    font-family: var(--regularfont);
    font-weight: 100;
    text-transform: uppercase;
    color:var(--neutralgray);
    margin-top: 2rem;
    
}
h3{
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 700;
    font-family: var(--headerfont);
    margin-top: 0;
    margin-bottom: 0.2rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    display: grid;
    grid-template-columns:1fr 1fr;
    max-width: 54rem;
    border-radius: 1.5rem;
    overflow: hidden;
    height:fit-content;
    
}
.product-img{
    background: url("images/image-product-desktop.jpg") no-repeat;
    background-size: cover;;
    width:27rem;
}

.text{
    background-color: var(--neutralwhite);
    padding-left: 1.8rem;
    padding-right:1.8rem;
    max-width:27rem;
}

.price-box{
    display: flex;
    align-items: top;
    margin: 1rem 0 1rem 0;
}

.price{
    font-size: 3rem;
    font-family: var(--headerfont);
    color: var(--primarydark);
    float:left;
    margin:0 2rem 2rem 0;
}
.price-before{
    font-size: 1.6rem;
    padding: 1rem 0 0 0;
    text-decoration: line-through;
    color:var(--neutralgray);
    font-family: var(--regularfont);

}
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primarydark);
    color: var(--neutralwhite);
    font-family: var(--regularfont);
    border:none;
    border-radius: 1rem;
    width:100%;
    height: 4.5rem;
    margin-bottom: 3rem;
}
.cta:hover{
    background-color: var(--secondarydark);
}

.add_to_cart{
    background: url("images/icon-cart.svg") center no-repeat;
    width:2rem;
    height:2rem;
    margin-right: 1rem;

}

@media screen and (max-width:540px) {
    
    .card{
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        max-width:90vw;
    }
    .text{
        
        max-width: none;
        min-height:40vh;
        max-height: 60vh;
        
    }
    
    .product-img{
        background: url("images/image-product-mobile.jpg") no-repeat center;
        background-size:cover;
        width: 100%;
        height:40vh;
        
    }
    .attribution{
        display: none;
    }

}
    
    


